* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

body {
    margin: 0;
}


.upperheader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

header {
    background-color:#1F2937;
}

.logo {
    width: 700px;
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 900;
}

.logo:hover {
    cursor:alias;
}

a {
    display: inline-flex;
    color:#E5E7EB;
    text-decoration: none;
}

a:hover {
    color: #FFD500;
}


.nav {
    width: 700px;
}

.headlink {
    font-size: 18px;
    color:#E5E7EB;
}

ul {
    display: flex;
    padding: 0;
    gap: 20px;
    justify-content: flex-end;
}

li {
    list-style: none;
}

.flexhero {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    padding-bottom: 140px;
    padding-top: 80px;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
}

h1 {
    margin-bottom: 10px;
}

.herotitle {
    width: 700px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    background-color: #1F2937;
}

.desc {
    width: 700px;
    margin: 10px 0 20px 0;
    font-size: 18px;
    color: #E5E7EB;
    background-color:#1F2937;
}

.signupone {
    padding: 20px 30px 20px 30px;
    font-size:16px;
    font-weight: 900;
    color:#E5E7EB;
    border:#3882F6;
    border-radius: 5px;
    background-color:#3882F6;
}

.signupone:hover {
    color: #3882F6;
    background-color: #FFD500;
}

.heroleft {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.imgone {
    width: 700px;
    height: auto;
}

.heroright {
    display: flex;
    flex-wrap: nowrap;
}

.info {
    padding-top: 10px;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #1F2937;
}

.boxsection {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
}

.boximg {
    width: 200px;
    height: auto;
}

.subtext {
    width: 200px;
    font-size: 18px;
    text-align: center;
}

.quotebox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #E5E7EB;
}

.quotetext {
    padding: 100px 300px 0 300px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    color: #1F2937;
}

.author {
    margin: -50px 200px 0 0;
    padding: 0 100px 100px 0;
    font-size: 26px;
    text-align: end;
}

.signbox {
    width: 1000px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    border-radius: 5px;
    color: white;
    background-color:#3882F6;
    
}

.signuptwo {
    width: 160.719px;
    height: 58px;
    padding: 20px 30px 20px 30px;
    margin: auto 0 auto 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-weight: 900;
    font-size:16px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    background-color:#3882F6;

}

.signuptwo:hover {
    color:#3882F6;
    background-color: #FFD500;
}

.signcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.action {
    margin-bottom: -10px;
}

.footerbox {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    margin-top: 100px;
    background-color:#1F2937;
    color: #F9FAF8;
}