body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0;
    width: 1920px;
}

.herotitle {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.desc {
    background-color:#1F2937;
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px 0px 10px 0px;
}

header {
    background-color:#1F2937;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

li {
    list-style: none;
}

button {
    background-color:#3882F6;
    border-radius: 5px;
    color:#E5E7EB;
    padding: 6px 15px 6px 15px;
    border:#3882F6;
    font-weight: 900;
    font-size:11px;
}

.heroleft {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:flex-start;
    width: 400px;
    margin-right: -300px;
}

.imgone {
    width: 500px;
    height: auto;
}

.heroright {
    display: flex;
    flex-wrap: nowrap;
}

.flexhero {
    display: flex;
    flex-wrap: nowrap;
    width: 1920px;
    height: auto;
    justify-content: space-evenly;

}