body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0;
    width: 1920px;
    flex-shrink: 1;
}

.herotitle {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.desc {
    background-color:#1F2937;
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px 0px 10px 0px;
}

header {
    background-color:#1F2937;
    flex-shrink: 1;
}

a {
    text-decoration: none;
    color:#E5E7EB;
    padding-right: 25px;
}

li {
    list-style: none;
    display: inline;
}

button {
    background-color:#3882F6;
    border-radius: 5px;
    color:#E5E7EB;
    padding: 6px 15px 6px 15px;
    border:#3882F6;
    font-weight: 900;
    font-size:11px;
}

.heroleft {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:flex-start;
    width: 400px;
    margin-right: -130px;
}

.imgone {
    width: 500px;
    height: auto;
}

.heroright {
    display: flex;
    flex-wrap: nowrap;
}

.flexhero {
    display: flex;
    flex-wrap: nowrap;
    width: 1920px;
    height: auto;
    justify-content: space-evenly;
    padding-bottom: 100px;
    padding-top: 100px;
    flex-shrink: 1;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.upperheader {
    display: flex;
    justify-content: space-around;
    margin-right: -100px;
}

.logo {
    margin-left: -80px;
    margin-right: -200px;
}

h1 {
    margin-bottom: 10px;
}

.info {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 10px;
}

.boximg {
    width: 200px;
    height: auto;
}

.boxsection {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.subtext {
    text-align: center;
    font-size: 18px;
}

.quotebox {
    background-color: #E5E7EB;
}
